<html>
  <head>
  <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <img src="rps.jpeg" alt="Rock, Paper, Scissors" style="width:500px">
    <h1>Rock, Paper, Scissors!</h1>
    <h2>Let's have a game.</h2>

    <form action="/new_game" method="post">
      <select name="players">
        <option value="One Player">One Player</option>
        <option value="Two Playes">Two Players</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
